@charset "utf-8";

@import "./page/clock-page.scss";
@import "./compound/clock.scss";
@import "./compound/letter.scss";


* {
  outline: none !important;
}

body {
  margin: 0px;
  padding: 0px;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}