@charset "utf-8";

@import "./page/clock-page.scss";
@import "./compound/clock.scss";
@import "./compound/letter.scss";


* {
  outline: none !important;
}

body {
  background: rgba(0, 0, 0, 0);
  -webkit-app-region: drag;
}