@charset "utf-8";


.time,
.date,
.hairia {
  display: flex;
}

.date-wrapper {
  font-size: 40px;
  display: flex;
  justify-content: space-between;
}

.time {
  margin: -3px 0px 0px 0px;
  font-size: 80px;
  justify-content: flex-end;
}

.year-wrapper {
  position: relative;
}

.year-wrapper .type {
  font-size: 70%;
  position: absolute;
  bottom: 1px;
}

.hairia {
  margin: 0em 0.2em 0em 0em;
}

.slash {
  margin: 0em 0.1em 0em 0.1em;
}

.colon {
  margin: 0em 0.07em 0em 0em;
}

.hidden {
  visibility: hidden;
}