@charset "utf-8";


.time,
.date,
.hairia {
  display: flex;
}

.date-wrapper {
  display: flex;
  justify-content: space-between;
}

.time {
  justify-content: flex-end;
}

.hairia {
  margin: 0em 0.2em 0em 0em;
}

.slash {
  margin: 0em 0.1em 0em 0.1em;
}

.colon {
  margin: 0em 0.07em 0em 0em;
}

.hidden {
  visibility: hidden;
}