@charset "utf-8";


@mixin set-color($color) {
  --color: #{$color};
  --border-color: #{darken(saturate($color, 20%), 50%)};
}


.letter-root {
  font-family: "PT Serif";
  font-weight: 900;
  line-height: 1;
  display: flex;
}

.letter-digit {
  color: var(--border-color);
  position: relative;
  z-index: 1;
}

.letter-digit::before {
  text-shadow: none;
  background-color: var(--color);
  background-image: linear-gradient(to bottom, rgba(white, 0.8), rgba(white, 0));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  content: attr(data-char);
  position: absolute;
  z-index: 2;
}

.large {
  font-size: 80px;
  text-shadow: 2px 0px 0px, -2px 0px 0px, 0px 2px 0px, 0px -2px 0px, 1px 1px 0px, -1px 1px 0px, 1px -1px 0px, -1px -1px 0px;
}

.small {
  font-size: 40px;
  text-shadow: 1.4px 0px 0px, -1.4px 0px 0px, 0px 1.4px 0px, 0px -1.4px 0px, 0.7px 0.7px 0px, -0.7px 0.7px 0px, 0.7px -0.7px 0px, -0.7px -0.7px 0px;
}

.sunday {
  @include set-color(hsl(0, 40%, 50%));
}

.monday {
  @include set-color(hsl(280, 40%, 50%));
}

.tuesday {
  @include set-color(hsl(30, 40%, 50%));
}

.wednesday {
  @include set-color(hsl(180, 40%, 50%));
}

.thursday {
  @include set-color(hsl(120, 40%, 50%));
}

.friday {
  @include set-color(hsl(60, 40%, 50%));
}

.saturday {
  @include set-color(hsl(220, 40%, 50%));
}
