@charset "utf-8";


.letter-root {
  font-family: "PT Serif";
  font-size: 88px;
  font-weight: 900;
  line-height: 1;
  background-color: hsl(280, 40%, 50%);
  background-image: linear-gradient(to bottom, rgba(white, 0.8), rgba(white, 0));
  background-clip: text;
  -webkit-text-stroke: 2px darken(saturate(hsl(280, 60%, 50%), 20%), 40%);
  -webkit-text-fill-color: transparent;
  display: flex;
}